<template>
  <div class="app-footer bg-dark text-white">
    <div class="d-flex justify-content-center align-items-center">
      <div>
        Copyright&nbsp;&copy;&nbsp;<router-link
          class="text-primary"
          to="/devfast"
          >DevFast</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.app-footer {
  padding: 30px 0;
  .text-primary {
    text-decoration: none;
  }
}
</style>
