<template>
  <div class="app-header">
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <div class="row w-100">
          <div class="col-2">
            <div class="logo d-flex justify-content-center">
              <router-link to="/"><img :src="logo" alt="logo" /></router-link>
            </div>
          </div>
          <div class="col-10 d-flex justify-content-center align-items-center">
            <div class="title">
              <p class="py-0 h3">Blogmannagement</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import logo from "../assets/images/download (1).png";
import { Link } from "react-router-dom";
export default {
  name: "AppHeader",
  setup() {
    return {
      logo,
      Link,
    };
  },
};
</script>

<style lang="scss" scoped>
.app-header {
  .navbar {
    color: white;
    .logo {
      img {
        max-width: 100px;
        max-height: 70px;
      }
    }
  }
}
</style>
