<template>
  <div id="app-menu">
    <div class="">
      <ul class="nav dflex flex-column">
        <li class="nav-item d-flex align-items-center">
          <router-link class="nav-link text-dark" :to="{ name: 'bloglist' }"
            ><i class="fas fa-list"></i>List</router-link
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <router-link class="nav-link text-dark" :to="{ name: 'blogcreate' }"
            ><i class="far fa-plus-square"></i>New</router-link
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <router-link class="nav-link text-dark" :to="{ name: 'blogsearch' }"
            ><i class="fas fa-search"></i>Search</router-link
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
i {
  margin-right: 20px;
}
</style>
