<template>
  <div class="blog-create-edit">
    <div class="title-blog">
      <span class="h4">{{
        this.$route.params.id ? "Edit Blogs" : "New Blogs"
      }}</span>
    </div>
    <form class="row g-3 mx-0 mt-0 form-submit">
      <div class="col-md-12">
        <label for="title" class="form-label">Tiêu đề</label>
        <input
          type="text"
          class="form-control"
          id="title"
          v-model="post.title"
        />
      </div>
      <div class="col-md-12">
        <label for="des" class="form-label">Mô tả ngắn</label>
        <textarea
          class="form-control"
          id="des"
          rows="3"
          v-model="post.des"
        ></textarea>
      </div>
      <div class="col-12">
        <label for="detail" class="form-label">Chi tiết</label>
        <textarea
          class="form-control"
          id="detail"
          rows="6"
          v-model="post.detail"
        ></textarea>
      </div>
      <div class="col-12">
        <div class="col-6">
          <label for="hinhanh" class="form-label">Hình ảnh</label>
          <input type="file" class="form-control" id="hinhanh" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-12">Vị Trí</div>
        <div class="col-12 d-flex">
          <div class="pe-3">
            <input
              type="checkbox"
              id="vn"
              value="Việt Nam"
              v-model="post.position"
            />
            <label for="vn" class="ms-1">Việt Nam</label>
          </div>
          <div class="pe-3">
            <input
              type="checkbox"
              id="cas"
              value="Châu Á"
              v-model="post.position"
            />
            <label for="cas" class="ms-1">Châu Á</label>
          </div>
          <div class="pe-3">
            <input
              type="checkbox"
              id="cau"
              value="Châu Âu"
              v-model="post.position"
            />
            <label for="cau" class="ms-1">Châu Âu</label>
          </div>
          <div class="pe-3">
            <input
              type="checkbox"
              id="cm"
              value="Châu Mỹ"
              v-model="post.position"
            />
            <label for="cm" class="ms-1">Châu Mỹ</label>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div>Public</div>
        <div>
          <input id="yes" type="radio" value="Yes" v-model="post.publics" />
          <label for="yes" class="ms-1">Yes</label>
        </div>
        <div>
          <input id="no" type="radio" value="No" v-model="post.publics" />
          <label for="no" class="ms-1">No</label>
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="col-md-6">
          <label for="loai" class="form-label">Loại</label>
          <select id="loai" class="form-select" v-model="post.category">
            <option selected value="Kinh doanh">Kinh doanh</option>
            <option value="Thời sự">Thời sự</option>
            <option value="Thế giới">Thế giới</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="date" class="form-label">Date Public</label>
          <input
            type="date"
            class="form-control"
            id="date"
            v-model="post.data_pubblic"
          />
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center form-submit">
        <button
          type="submit"
          class="btn btn-success me-2"
          @click.prevent="createEditBlogList"
        >
          Submit
        </button>
        <button
          type="submit"
          class="btn btn-primary ms-2"
          @click.prevent="handleClear"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { createBlogList, updateBlogList, getBlogListById } from "../../api/api";
import Vue from "vue";
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
Vue.use(Toast, {
  transition: "Vue-Toastification__bounce",
  maxToasts: 20,
  newestOnTop: true,
});
export default {
  name: "BlogCreateEdit",
  data() {
    return {
      post: {
        title: "",
        des: "",
        detail: "",
        thumbs: "",
        position: [],
        publics: "",
        category: "",
        data_pubblic: "",
      },
    };
  },

  ready: function () {
    // watch for file input on bootstrap
    this.watchFileInput();
  },
  mounted() {
    const id = this.$route.params.id;
    getBlogListById(id)
      .then((res) => (this.post = res.data))
      .catch((e) => console.log(e));
    this.$toast("Welcome to the create and update page!", {
      position: "top-right",
      timeout: 3000,
      closeOnClick: true,
      pauseOnFocusLoss: true,
      pauseOnHover: true,
      draggable: true,
      draggablePercent: 0.6,
      showCloseButtonOnHover: false,
      hideProgressBar: false,
      closeButton: "button",
      icon: true,
      rtl: false,
    });
  },
  methods: {
    handleClear: function () {
      this.post = {
        title: "",
        des: "",
        detail: "",
        thumbs: "",
        position: [],
        publics: "",
        category: "",
        data_pubblic: "",
      };
    },

    createEditBlogList: async function () {
      try {
        let checkValidate = { ...this.post };
        for (let index = 0; index < checkValidate.length; index++) {
          if (!checkValidate) {
            alert(`Missing parameters: ${checkValidate[i]}`);
            return;
          }
        }

        let data = { ...this.post };
        const id = this.$route.params.id;
        if (!id) {
          const res = await createBlogList(data);
          if (res.status === 201) {
            this.$toast.success(
              "Wow, you have successfully created your blog!",
              {
                position: "top-right",
                timeout: 3000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.6,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: "button",
                icon: true,
                rtl: false,
              }
            );
            return res.data;
          }
        } else {
          const res = await updateBlogList(id, data);
          if (res.status === 200) {
            this.$toast.success(
              "Wow, you have successfully updated your blog!",
              {
                position: "top-right",
                timeout: 3000,
                closeOnClick: true,
                pauseOnFocusLoss: true,
                pauseOnHover: true,
                draggable: true,
                draggablePercent: 0.6,
                showCloseButtonOnHover: false,
                hideProgressBar: false,
                closeButton: "button",
                icon: true,
                rtl: false,
              }
            );
            return res.data;
          }
        }
      } catch (error) {
        console.log(error);
        this.$toast.error("Oops, fix it!", {
          position: "top-right",
          timeout: 3000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: false,
          closeButton: "button",
          icon: true,
          rtl: false,
        });
      }
    },
    processFile(event) {
      this.post.thumbs = event.target.files[0];
    },
  },
};
</script>

<style lang="scss">
.blog-create-edit {
  overflow-y: auto;
  padding: 20px;
  background-color: #dfe0e1;
  form {
    background-color: #ffffff;
    .form-submit {
      padding: 20px;
      background-color: #f0f3f5;
    }
  }
}
</style>
