<template>
  <div class="blog-search">
    <div class="header-blog-search">
      <div class="title-blog">
        <span class="h4">List Blog</span>
      </div>
      <div class="body-header-blog-search">
        <form
          class="row g-3 mx-0 mt-0 form-blog-search"
          @submit.prevent="searchTitleByBlogList(listData.title)"
        >
          <div class="col-md-12 d-flex">
            <div class="col-1">
              <label for="Title" class="form-label">Title</label>
            </div>
            <div class="col-11">
              <input
                type="text"
                class="form-control"
                id="Title"
                v-model="searchTitle"
              />
            </div>

            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="col-12 d-flex justify-content-center p-3">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
      </div>
    </div>
    <div class="body-blog-search">
      <BlogList :ListData="listData" />
    </div>
  </div>
</template>

<script>
import BlogList from "./BlogList.vue";
import { getBlogList, getBlogListBySearch } from "../../api/api";
export default {
  name: "BlogSearchForm",
  components: { BlogList },
  data() {
    return {
      searchTitle: "",
      listData: [],
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    getList: function () {
      getBlogList()
        .then((data) => {
          this.listData = data.data.reverse();
        })
        .catch((err) => console.log(err));
    },
    getListBySearch: function () {
      getBlogListBySearch(this.searchTitle)
        .then((data) => (this.listData = data.data.reverse()))
        .catch((err) => console.log(err));
    },
    searchTitleByBlogList: function () {
      if (this.searchTitle) {
        this.getListBySearch();
        // this.listData = this.listData.filter((item) =>
        //   item.title.toLowerCase().includes(this.searchTitle.toLowerCase())
        // );
      } else {
        this.getList();
      }
    },
  },
};
</script>

<style lang="scss">
.blog-search {
  height: 100%;
  background-color: #dfe0e1;
  .header-blog-search {
    padding: 20px;
  }
  .body-header-blog-search {
    .form-blog-search {
      background-color: #ffffff;
    }
  }
  .body-blog-search {
    margin-top: -20px;
  }
}
</style>
