<template>
  <div class="blog-list">
    <div class="title-blog">
      <span class="h4">List Blog</span>
    </div>
    <div class="body-blog">
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
          <thead>
            <tr>
              <th>id</th>
              <th>Tin</th>
              <th>Loại</th>
              <th>Trạng Thái</th>
              <th>Vị trí</th>
              <th>Ngày public</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in ListData" :key="data.id">
              <td>{{ data.id }}</td>
              <td>{{ data.title }}</td>
              <td>{{ data.category }}</td>
              <td>{{ data.publics }}</td>
              <td>{{ data.position?.join(", ") }}</td>
              <td>{{ data.data_pubblic }}</td>

              <td>
                <router-link :to="{ name: 'blogedit', params: { id: data.id } }"
                  ><button
                    class="btn border border-info text-info"
                    @click="updateBlogData(data.id)"
                  >
                    Edit
                  </button></router-link
                >
              </td>
              <td>
                <button
                  class="btn border border-danger text-danger"
                  @click="deleteBlogListData(data.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { getBlogList, deleteBlogList } from "../../api/api";
export default {
  name: "BlogList",
  props: ["ListData"],
  // data() {
  //   return {
  //     ListData: [],
  //   };
  // },
  mounted() {
    getBlogList()
      .then((data) => (this.ListData = data.data.reverse()))
      .catch((err) => console.log(err));

    this.$toast("Welcome to my page!", {
      position: "top-right",
      timeout: 3000,
      closeOnClick: true,
      pauseOnFocusLoss: true,
      pauseOnHover: true,
      draggable: true,
      draggablePercent: 0.6,
      showCloseButtonOnHover: false,
      hideProgressBar: false,
      closeButton: "button",
      icon: true,
      rtl: false,
    });
  },

  methods: {
    deleteBlogListData: function (id) {
      if (confirm(`Comfirm delete list blog with ${id} ?`)) {
        deleteBlogList(id);
        this.ListData = this.ListData.filter((list) => list.id !== id);
      }
    },
    updateBlogData: function (id) {
      console.log(id);
    },
  },
};
</script>

<style lang="scss">
.title-blog {
  padding: 10px;
  background-color: #f0f3f5;
}
.blog-list {
  padding: 20px;
  background-color: #dfe0e1;
  height: 100%;

  .body-blog {
    .table-responsive {
      background-color: #f0f3f5;
      // background-color: #dfe0e1;
      .table {
        background-color: #ffffff;
        th,
        td {
          text-align: center;
        }
      }
    }
  }
}
</style>
