<template>
  <div id="app">
    <AppHeader />
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <AppMenu />
        </div>
        <div class="col-10 pe-0">
          <router-view />
        </div>
      </div>
    </div>

    <AppFooter />
  </div>
</template>

<script>
import AppHeader from "./components/AppHeader.vue";
import AppFooter from "./components/AppFooter.vue";
import AppMenu from "./components/AppMenu.vue";
import BlogList from "./components/blog/BlogList.vue";

import BlogSearchForm from "./components/blog/BlogSearchForm.vue";
import BlogCreateEdit from "./components/blog/BlogCreateEdit.vue";

export default {
  name: "App",
  components: {
    AppHeader,
    AppFooter,
    AppMenu,
    BlogList,

    BlogSearchForm,
    BlogCreateEdit,
  },
};
</script>

<style scoped>
.row {
  min-height: calc(100vh - 175px);
}
</style>
